.quote {
    font-family: 'Papyrus', fantasy;
    font-weight: 100;
    color: green;
    font-size: 3em;
    text-align: center;
    margin-top: 2em;
}
.mission-words{
    font-family:'Harrington', fantasy ;
    font-size: 2rem;
}
h2{
    font-family:'Harrington', fantasy;
    font-size: 1.5rem;
}