@media (max-width: 769px){
header {
    /* box-sizing: border-box; */
    color: #894705;
    font-size: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px -2px black;
    background-color: #141F1B;
    padding: 0px 0px 0px 0px;
}
.links{
    float: right;
}
body {  background: rgb(2, 60, 43);
    margin: 0;
    height: calc(100vh - 16px);
    width: calc(100vh - 16px);
}
main {
    height: calc(100vh - 16px);
    width: calc(100vh - 16px);
        /* padding: 70px 24px 0px 96px; */
        color: #d1cfcf;
        font-family: 'Open Sans', sans-serif;
}
h2 {
    margin: 10px 50px 23px 50px;
}
.quote {
    font-family: 'Papyrus', fantasy;
    font-weight: 100;
    color: green;
    font-size: 2rem;
    text-align: center;
    margin: 3rem 0rem 0rem 0rem;
}
.mission-words{
    font-family:'Harrington', fantasy ;
    font-size: 2rem;
    padding: 75px 0px 30px 0px;
}
.statement{
    font-family:'Harrington', fantasy;
    font-size: rem;
}
section img {
    padding: 0px 5px 2px 25px;
    margin: 0 24px 24px 0;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
img {
    height: 35vh;
}
#hobby-bx{
    display: flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction: column;
    padding-bottom: 50px;
    font-size: 30px;
    border-top: 3px solid #bbb;
}
#Project1, #Project2, #Project3{
    font-size: 1em;
    width: calc(100vh - 16px);
    background: #0d0d0d;
    background: #337735;
    color:  black;
    box-shadow: 0px 5px 30px 10px #3d4662;
    margin: 2em auto;
    padding: 1em;
    border-radius: 16px;
    padding-bottom: 20px;
}

.project-head{
        color: aliceblue;
        margin-left: -100px;
    }
#Project1{
        text-align: right;
        margin: 20px 50px 30px 5px;
    }
.Project-name1, .Project-name1, .Project-name3{
        text-align: center;
    }
#portfolio-pictures{
        float: left;
    }
#Project2, #Project3{
        text-align: right;
        margin: 100px 50px 30px 5px;
    }
#contact-body{
    padding-top: 120px;
}
#contact-1h, #contact-2h{
    font-family: 'Papyrus', fantasy;
}
form{
    font-family: 'Papyrus', fantasy;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background-color: rgb(86, 79, 56);
    border-radius: 100px;
    width: 30rem;
    margin: auto;
    box-sizing: border-box;
}
lable{
    color: rgb(25, 228, 62);
}
.submit:hover{
    background-color: rgb(188, 118, 6);
    color: rgb(200, 200, 21);
}
#thanks{
    font-family:'Papyrus', fantasy;
}
footer{
        background-color: #141F1B;
        font-size: 1.8rem;
        text-align: center;
        color: aqua;
        box-sizing: border-box;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0 -2px 4px -2px black;
    }
}
@media (min-width: 770px){
header {
    box-sizing: border-box;
    color: #944001;
    font-size: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px -2px black;
    background-color: #10141d;
    padding: .2em 1em;
}
.links a {
    text-decoration: none;
    color: #72A3A8;
    margin-left: 0.25em;
}
.links{
    float: right;
}

body {  background: #022016;
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 30em;
    box-sizing: border-box;
    box-shadow: 0 -2px 4px 5px black;
}
html {
    background: #033324;
}
main {
    height: calc(100vh - 16px);
    width: calc(100vh - 16px);
    padding: 70px 24px;
    color: #E1C09F;
    font-family: 'Open Sans', sans-serif;
}
h2 {
    margin: 10px 50px 23px 50px;
}
.quote {
    font-family: 'Papyrus', fantasy;
    font-weight: 100;
    color: #B97071;
    font-size: 3rem;
    text-align: center;
    margin: 3rem 0rem 0rem 0rem;
    padding-left: 19vmin;
    margin-left: auto;
    margin-right: auto;
    width: 15em
}
.mission-words{
    font-family:'Harrington', fantasy ;
    font-size: 2rem;
}
.statement{
    font-family:'Harrington', fantasy;
    /* padding-left: 100px; */
}
/* section img {
    padding: 0px 5px 2px 25px;
    margin: 0 24px 24px 0;
} */
img {
    height: 20vh;
}
#hobby-bx:nth-of-type(odd) > img {
    float: left;
    margin: 0 24px 24px 0;
}
#hobby-bx:nth-of-type(even) > img {
    float: right;
    margin: 0 0 24px 24px;
}
section {
    border-top: 3px solid #bbb;
}
.project-head{
    padding-left: 320px;
}
#Project1, #Project2, #Project3{
    font-size: 1em;
    width: calc(100vh - 16px);
    background: #0d0d0d;
    background: #337735;
    color:  black;
    box-shadow: 0px 5px 30px 10px #3d4662;
    margin: 2em auto;
    padding: 1em;
    border-radius: 16px;
    padding-bottom: 20px;
}
.project-head{
        color: black;
        margin-left: -320px;
    }
#Project1{
        text-align: right;
        margin: 50px 50px 30px 75px;
    }
.Project-name, .Project-name2, .Project-name3{
        text-align: center;
    }
#portfolio-pictures{
        float: left;
    }
#Project2, #Project3{
        text-align: right;
        margin: 10px 50px 30px 75px;
    }

#contact-body{
    padding: 120px 0 11em;

}
#contact-1h, #contact-2h{
    font-family: 'Papyrus', fantasy;
}
form{
    font-family: 'Papyrus', fantasy;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background-color: rgb(86, 79, 56);
    border-radius: 100px;
    width: 30rem;
    margin: auto;
    box-sizing: border-box;
}
lable{
    color: rgb(25, 228, 62);
}
.submit:hover{
    background-color: rgb(188, 118, 6);
    color: rgb(200, 200, 21);
}
footer{
        background-color: #10141d;
        padding: .2em;
        font-size: 2.5rem;
        text-align: center;
        color: aqua;
        box-sizing: border-box;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: 0 -2px 4px -2px black;
}
footer a {
    margin-right: 64px;
    text-decoration: none;
    color:  #72A3A8;
}
}